body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #000000
}

.menu {
    text-align: center;
    margin-top: 10px;
}

.menu a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

menu a:hover {
    text-decoration: underline;
}

.imagem-cidades {
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.cidade {
    text-align: center;
    width: 300px;
    margin: 15px
}

.cidade img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(241, 0, 0, 0.1);
}

.cidade p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #000000;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
}

.imagem-grande {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

.imagem-grande1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    object-fit: cover;
    justify-content: space-around;
}

img {
    max-width: 100%;
    height: auto;
}

.descricao {
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    background-color: #ffffff;
}

.informacoes {
    padding: 20px;
    background-color: #e9ecef;
}

.informacoes h2 {
    text-align: center;
    margin-bottom: 20px;
}

.botao-de-menu {
    text-align: left;
    padding: 0px;
    font-size: 1.3em;

    a:link,
    a:visited {
        color: white;
        text-decoration: none;
    }
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #000000;
    color: white;
}

.seta-voltar {
    position: absolute;
    top: 200%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff; 
    cursor: pointer;
    user-select: none;
}
.seta-voltar1 {
    position: absolute;
    top: -50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff; 
    cursor: pointer;
    user-select: none;
}
.conteudo-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.linha {
    color: #fff;
    font-size: 20px;
    margin: 0;
}
header {
    background-color: #000000;
    color: white;
    padding: 5px 10px;
    text-align: center;
    position: relative;
}